---
# Uninstall is simply rm -rf ~/.dotnet
- name: Download dotnet-install.sh
  ansible.builtin.get_url:
    url: https://dot.net/v1/dotnet-install.sh
    dest: /tmp/dotnet-install.sh
    mode: ugo+x

- name: Install .NET
  ansible.builtin.command: 
    argv:
      - /tmp/dotnet-install.sh
      - --channel
      - "{{ item }}"
  register: dotnet_install
  changed_when: "'already installed' not in dotnet_install.stdout"
  loop:
    - 9.0
    - 10.0

- name: Set .NET environment variables
  ansible.builtin.blockinfile:
    path: "{{ lookup('ansible.builtin.env', 'HOME') }}/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: dotnet"
    prepend_newline: true
    block: |
      export DOTNET_ROOT="{{ lookup('ansible.builtin.env', 'HOME') }}/.dotnet"
      export PATH="$PATH:$DOTNET_ROOT:$DOTNET_ROOT/tools"

