---
- name: Install VSCode
  become: true
  block:
    - name: Add VSCode APT repository
      ansible.builtin.deb822_repository:
        name: vscode
        types: [deb]
        uris: https://packages.microsoft.com/repos/code
        signed_by: https://packages.microsoft.com/keys/microsoft.asc
        suites: [stable]
        components: [main]
        architectures: ["{{ 'amd64' if ansible_architecture == 'x86_64' else ansible_architecture }}"]
        state: present
        enabled: true

    - name: Install VSCode
      ansible.builtin.apt:
        name: code
        state: latest
        update_cache: true

- name: Install Visual Studio Code Extensions
  ansible.builtin.command: code --install-extension {{ item }}
  loop:
    - asvetliakov.vscode-neovim
    - charliermarsh.ruff
    - haskell.haskell
    - ms-python.python
  register: vscode_extension_result
  changed_when: "'was successfully installed.' in vscode_extension_result.stdout"

# TODO: settings.json
# {
#   "editor.fontFamily": "'Iosevka Nerd Font'",
#   "editor.fontLigatures": true,
#   "keyboard.dispatch": "keyCode",
# }
