---
# https://launchpad.net/~git-core/+archive/ubuntu/ppa
- name: Add Git apt repository
  ansible.builtin.deb822_repository:
    name: git-core
    types: [deb]
    uris: https://ppa.launchpadcontent.net/git-core/ppa/ubuntu
    signed_by: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xF911AB184317630C59970973E363C90F8F1B6217
    suites: ["{{ ansible_distribution_release | lower }}"]
    components: [main]
    state: present
    enabled: true
  become: true

- name: Install latest stable Git
  ansible.builtin.apt:
    name: git
    update_cache: true
  become: true

- name: Install delta # https://github.com/dandavison/delta
  ansible.builtin.shell: |
    cargo install delta
    git config --global core.pager delta
    git config --global interactive.diffFilter 'delta --color-only'
    git config --global delta.navigate true
    # git config --global merge.conflictStyle zdiff3
