---
- name: Add GitHub CLI apt repository
  ansible.builtin.deb822_repository:
    name: github-cli
    types: [deb]
    uris: https://cli.github.com/packages
    signed_by: https://cli.github.com/packages/githubcli-archive-keyring.gpg
    suites: [stable]
    components: [main]
    state: present
    enabled: true
  become: true

- name: Install GitHub CLI
  ansible.builtin.apt:
    name: gh
    update_cache: true
  become: true
