---
- name: Download Neovim AppImage
  ansible.builtin.get_url:
    url: "https://github.com/neovim/neovim/releases/download/{{ nvim_version }}/nvim-linux-x86_64.appimage"
    # checksum: sha256:https://github.com/neovim/neovim/releases/download/nightly/nvim.appimage.sha256sum
    dest: /usr/local/bin/nvim
    mode: ugo+x
  become: true
  vars:
    nvim_version: nightly  # stable
